/* .container {
    width: auto;
    max-width: 1024px;
    padding: 0 15px;
    background-color: whitesmoke;
} */
  
/* .fnavbar fixed-bottom {
background-color: #6c757d;
} */

.navbar{
    padding:5px;
}

/* .navbar text{
} */

body{
    background-color:whitesmoke;
}

main{
    background-color: whitesmoke;
}

table{
    padding-top: 15px;
    padding-bottom: 15px;
}

.box{
    padding:15px;
    background-color: white;
    margin:15px;
    padding-bottom: 25px;
}

h3{
    color: #17a2b8;
}

p{
    padding:10px;
}

.thumbnail{
    padding:5px;
}
img{
    padding:5px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px; 
    /* background-color: #f5f5f5; */
}

body, .sticky-footer-wrapper {
min-height:auto;
}

.flex-fill {
flex:1 1 auto;
}